[submodule "p99-file-updater/p99-file-updater/RelayCommand"]
	path = p99-file-updater/p99-file-updater/RelayCommand
	url = https://github.com/FreedomFaighter/RelayCommand.git
	branch = ms-example
[submodule "p99-file-updater/p99-file-updater/libgit2sharp"]
	path = p99-file-updater/p99-file-updater/libgit2sharp
	url = https://github.com/FreedomFaighter/libgit2sharp.git
	branch = master

[submodule "libgit2sharp"]
	path = libgit2sharp
	url = https://github.com/FreedomFaighter/libgit2sharp.git
